h2 {
  font-size: 1.25rem;
  color: #e3f4fc;
  font-weight: bold;
  line-height: 24px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin: 8px 0;
}

header {
  min-height: 260px;
}

.pagination {
  padding-bottom: 15px;
  margin: 0;
}

ul.pagination li {
  list-style-type: none;
  background-color: #ffffff;
}

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #071d25;
}

.pagination li.active {
  background-color: #a1d1e6;
}

.pagination a {
  font-weight: 300;
  padding-top: 1px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-left-width: 0;
  min-width: 44px;
  min-height: 44px;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination li:not([class*='current']) a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.pagination li:not([class*='current']) a:focus,
.pagination li:not([class*='current']) a:active {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-left-width: 1px;
}

.pagination li:first-of-type a {
  border-left-width: 1px;
}

.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span {
  /* screen readers only */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination li:first-child a::before,
.pagination li:last-child a::after,
.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.pagination li:first-child a::before,
.pagination li:last-child a::after {
  content: '\003c';
}

.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
  content: '\003e';
}

.pagination li:last-child a::after,
.pagination li:nth-last-of-type(2) a::after {
  transform: rotate(180deg);
}

.pagination li.current a {
  padding-top: 0.25em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: default;
  pointer-events: none;
}

@media only screen and (max-width: 64.063em) {
  .pagination li:first-child,
  .pagination li:last-child {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li:nth-of-type(2) a {
    border-left-width: 1px;
  }
}

@media only screen and (max-width: 40.063em) {
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li.current,
  .pagination li:first-of-type,
  .pagination li:last-of-type,
  .pagination li:nth-of-type(2),
  .pagination li:nth-last-of-type(2) {
    position: initial;
    top: initial;
    left: initial;
  }

  .pagination li:nth-of-type(2) a {
    border-left-width: 0;
  }
}

@media only screen and (max-width: 30.063em) {
  h1 {
    font-size: 1.35em !important;
  }

  .pagination li:first-child,
  .pagination li:last-child {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li:nth-of-type(2) a {
    border-left-width: 1px;
  }
}

@media only screen and (max-width: 15.063em) {
  /* For watches? */

  .pagination li {
    width: 50%;
  }

  .pagination li.current {
    order: 2;
    width: 100%;
    border-left-width: 1px;
  }
}
